<html>
 <head>
 <title>Random Pairs</title>
<style type='text/css'>
      body {background-color: lightgrey}
      h1 {color: purple;
          font-family: verdana;}
      p {color: green}
    </style>
 </head>
 <body OnLoad='document.myinput.fname.focus();'>
 <h1>Welcome to Random-Pairs</h1>
 <h2> Please enter the attendees' names, separated by a<strong>whitespace (" ").</strong></h2>
<form method="post" name="myinput">
	<input type="text" name="fname" value="<%= params["fname"] %>">
	<input type="submit" value="Submit" name="btnsub">
	<input type="submit" value="Append" name="btnapp">
</form>
<hr>
 <%= yield %>
 <hr>
<h3><center>Testpage<center></h3>
<p><%= @carr %> - count elements of array
<p><%= @unarr %> - unique array elements
<p><%= @sufarr %> - shuffle array elements
<p><%= @hsh_pairs %> - key-value pairs of hash


 </body>
</html>
