<html>
 <head>
 <title>Random Pairs</title>
<style type='text/css'>
      body {background-color: lightgrey}
      h1 {color: purple;
          font-family: verdana;}
      p {color: green}
    </style>
 </head>
 <body OnLoad='document.myinput.pairs.focus();'>
 <h1>Welcome to Random-Pairs</h1>
 <h2> Please enter the attendees' names, separated by a whitespace (" ").</h2>
<form method="post" name="myinput">

	<input type="text" name="names" value="<%= params["names"] %>" size="60"> <!--# Seb.: Returns pairs value in "text" inputbox -->
	<input type="submit" value="Submit" name="btnsub">
<hr>
 <%= yield %>
 <hr>
<h3><center>Testpage<center></h3>
<p><%= @names %> - @names array
<p><%= @namesshuff %> - @namesshuff array
	<p><%= @solo_name %> - @solo_name array
<p><%= @pairs %> - @pairs array
 </body>
</html>
